.select {
  position: relative;
  min-height: 40px;
  width: 400px;
  font-family: TT Travels;
}

.select:focus {
  outline: none;
}

.inpt_wraper {
  display: flex;
  flex-direction: column;
  font-family: TT Travels;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
  gap: 10px;
}

.inpt_wraper label {
  font-weight: 700;
}

@media (max-width: 650px) {
  .select {
    width: 100%;
  }
}
