.btn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1.5px solid #5558fa;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}
